<%= bootstrap_form_for(@subfamilia) do |f| %>
  <% if @subfamilia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subfamilia.errors.count, "error") %> prohibited this subfamilia from being saved:</h2>

      <ul>
      <% @subfamilia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :nombre %>
  </div>
  <div class="form-group">
    <%= f.select :familia_id,  Familia.all.collect {|f| [ f.nombre, f.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
