<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @subfamilia.nombre %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @subfamilia.familia.nombre %>
</p>

<p>
  <strong>Unidad de negocio:</strong>
  <%= @subfamilia.familia.negocio_unidad.nombre %>
</p>

<h3>
  Fichas de
  <%= @subfamilia.nombre %>
</h3>
<%= render 'fichas/table' %>

<%= link_to 'Editar', edit_subfamilia_path(@subfamilia) %> |
<%= link_to 'Volver', subfamilias_path %>
