<p id="notice"><%= notice %></p>

<h1>
  Ubicación
</h1>

<p>
  <strong>Codigo:</strong>
  <%= @ubicacion.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @ubicacion.nombre %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @ubicacion.ciudad %>
</p>


<%= render 'materials/table' %>


<%= link_to 'Editar', edit_ubicacion_path(@ubicacion) %> |
<%= link_to 'Volver', ubicacions_path %>
