<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @negocio_unidad.nombre %>
</p>

<h3>
  Familias de 
  <%= @negocio_unidad.nombre %>
</h3>
<%= render 'familias/table' %>

<%= link_to 'Editar', edit_negocio_unidad_path(@negocio_unidad) %> |
<%= link_to 'Volver', negocio_unidads_path %>
