<div class="row">
  <div class="col-md-3 col-xs-6">
    <%= link_to fichas_path do %>
    <div class="button">
      <i class="fa fa-list-ul fa-5x"></i><br>
      Articulos
    </div>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to  ubicacions_path do %>
    <div class="button">
      <i class="fa fa-globe fa-5x"></i><br>
      Ubicaciones
    </div>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-6">
     <%= link_to negocio_unidads_path do %>     
     <div class="button">
       <i class="fa fa-archive fa-5x"></i><br>
       Unidades de negocio
     </div>
     <% end %>
  </div>
  
  <div class="col-md-3 col-xs-6">
     <%= link_to familias_path do %>     
     <div class="button">
       <i class="fa fa-cube fa-5x"></i><br>
       Familias
     </div>
     <% end %>
   </div>
   <div class="col-md-3 col-xs-6">
     <%= link_to subfamilias_path do %>     
     <div class="button">
       <i class="fa fa-cubes fa-5x"></i><br>
	     Subfamilias
     </div>
     <% end %>
   </div>
   <div class="col-md-3 col-xs-6">
     <%= link_to ficha_proveedors_path do %>     
     <div class="button">
       <i class="fa fa-file-text-o fa-5x"></i><br>
	     Fichas de proveedores
     </div>
     <% end %>
   </div>
   <div class="col-md-3 col-xs-6">
     <%= link_to proyectos_path do %>     
     <div class="button">
       <i class="fa fa-book fa-5x"></i><br>
	     Proyectos
     </div>
     <% end %>
   </div>
   <div class="col-md-3 col-xs-6">
     <%= link_to proveedors_path do %>     
     <div class="button">
       <i class="fa fa-truck fa-5x"></i><br>
	     Prveedores
     </div>
     <% end %>
   </div>

</div>

<div class="row">
  <div class="col-md-3 col-xs-6">
    <%= link_to solicituds_path do %>     
    <div class="button-blue">
      <i class="fa fa-paper-plane fa-5x"></i><br>
	    Solicitudes    
    </div>
    <% end %>
  </div>
</div>
