<div class="row">
  <div class="col-md-3 col-xs-6">
    <%= link_to fichas_path do %>
    <div class="button">
      <i class="fa fa-list-ul fa-5x"></i><br>
      Lista de materiales
    </div>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to  ubicacions_path do %>
    <div class="button">
      <i class="fa fa-globe fa-5x"></i><br>
      Lista de ubicaciones
    </div>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-6">
     <%= link_to negocio_unidads_path do %>     
     <div class="button">
       <i class="fa fa-archive fa-5x"></i><br>
       Lista de unidades de negocio
     </div>
     <% end %>
  </div>
  
  <div class="col-md-3 col-xs-6">
     <%= link_to familias_path do %>     
     <div class="button">
       <i class="fa fa-cube fa-5x"></i><br>
       Lista de familias
     </div>
     <% end %>
   </div>
   <div class="col-md-3 col-xs-6">
     <%= link_to subfamilias_path do %>     
     <div class="button">
       <i class="fa fa-cubes fa-5x"></i><br>
	 Lista de subfamilias
     </div>
     <% end %>
   </div>
</div>
