<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Proveedor</th>
      <th>Precio</th>
      <th>Ficha</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ficha_proveedors.each do |ficha_proveedor| %>
      <tr>
        <td><%= ficha_proveedor.nombre %></td>
        <td><%= ficha_proveedor.codigo %></td>
        <td><%= ficha_proveedor.proveedor %></td>
        <td><%= ficha_proveedor.precio %></td>
        <td><%= ficha_proveedor.ficha %></td>
        <td>
          <%= link_to ficha_proveedor do %>
          <i class="fa fa-eye"></i>
          <% end %>
          <%= link_to edit_ficha_proveedor_path(ficha_proveedor) do %>
          <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to ficha_proveedor, method: :delete, data: { confirm: '¿Seguro?' } do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
