<p id="notice"><%= notice %></p>

<h1>
  Ficha de proveedor
</h1>

<p>
  <strong>Nombre:</strong>
  <%= @ficha_proveedor.nombre %>
</p>

<p>
  <strong>Codigo de proveedor:</strong>
  <%= @ficha_proveedor.codigo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @ficha_proveedor.precio %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= link_to @ficha_proveedor.ficha, @ficha_proveedor.ficha %>
</p>

<%= link_to 'Edit', edit_ficha_proveedor_path(@ficha_proveedor) %> |
<%= link_to 'Back', ficha_proveedors_path %>
