<p id="notice"><%= notice %></p>

<h1>
  Ficha de proveedor
</h1>

<p>
  <strong>Nombre:</strong>
  <%= @ficha_proveedor.nombre %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @ficha_proveedor.proveedor if @ficha_proveedor.proveedor %>
</p>


<p>
  <strong>Codigo de proveedor:</strong>
  <%= @ficha_proveedor.codigo %>
</p>

<p>
  <strong>Precio de proveedor:</strong>
  <%= @ficha_proveedor.precio %> €
</p>

<p>
  <strong>Ficha:</strong>
  <%= link_to @ficha_proveedor.ficha, @ficha_proveedor.ficha %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @ficha_proveedor.observaciones %>
</p>


<%= link_to 'Editar', edit_ficha_proveedor_path(@ficha_proveedor) %> |
<%= link_to 'Volver', ficha_proveedors_path %>
