<p id="notice"><%= notice %></p>

<p>
  <h1>
    <%= @ficha.nombre %>
  </h1>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @ficha.codigo %>
</p>

<%= link_to 'Edit', edit_ficha_path(@ficha) %> |
<%= link_to 'Back', fichas_path %>
