<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Ficha de material 
        <h4> <%= @ficha.nombre %> </h4>
      </div>
      <div class="panel-body">
        <%= render 'fichas/show' %>
      </div>
    </div>
    <%= render 'stock' %>
  </div>

  <div class="col-md-4">
    <%= render 'costes' %>
    <%= render 'categorias' %>
    <%= render 'ficha_proveedor_panel' %>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-4">
    <%= link_to edit_ficha_path(@ficha) do %>
    <div class="button">
      <i class="fa fa-file-text-o"></i><br>
      Editar
        </div>
    <% end %>
  </div>
</div>
