<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Ficha de material 
        <h4> <%= @ficha.nombre %> </h4>
      </div>
      <div class="panel-body">
        <%= render 'fichas/show' %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Stock
      </div>
      <div class="panel-body">
        <p>
          <strong>Cantidad total en Stock:</strong>
          <%= @ficha.cantidad_total %>
        </p>
        <%= render 'materials/table' %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Costes
      </div>
      <div class="panel-body">
        <%= render 'fichas/stock' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Categorías
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>
                subfamilia/familia/unidad de negocio
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <% @ficha.subfamilias.each do |sf| %>
          <tr>
            <td>
              <%= sf.nombre_completo  %>
            </td>
            <td>
              <%= link_to  controler: "fichas", action: "delete_subfamilia", subfamilia_id: sf.id  do %>
              <i class="fa fa-trash"></i>
              <% end %>
          </tr>
          <% end %>
          <tr>
          </tr>
        </table>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Añadir subfamilia
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <%= form_tag({controller: "fichas", action: "add_subfamilia"}, method: "post") do %>
              <%= select_tag("subfamilia_id", 
                  options_for_select(Subfamilia.all.collect {|sf| [sf.nombre_completo, sf.id]}), 
                  class:"form-control")  %>
              <button type="submit" class="btn button2">
                Añadir <i class="fa fa-floppy-o"></i> 
              </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Fichas de proveedores
        </a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <% @ficha.ficha_proveedors.each do |fp| %>
          <%= link_to fp.proveedor_precio, fp %>
          <br>
          <% end %>
          <%= link_to new_ficha_ficha_proveedor_path(@ficha) do %>
          <div class="button">
            Nueva ficha de proveedor
          </div>
          <% end %>
        </div>
      </div>
    </div>
     
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-4">
    <%= link_to edit_ficha_path(@ficha) do %>
    <div class="button">
      <i class="fa fa-file-text-o"></i><br>
      Editar
        </div>
    <% end %>
  </div>
</div>
