<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @familia.nombre %>
</p>

<p>
  <strong>Negocio unidad:</strong>
  <%= link_to @familia.negocio_unidad.nombre, @familia.negocio_unidad %>
</p>

<h3>
  Subfamilias de
  <%= @familia.nombre %>
</h3>
<%= render 'subfamilias/table' %>

<%= link_to 'Edit', edit_familia_path(@familia) %> |
<%= link_to 'Back', familias_path %>
