<%= bootstrap_form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.text_field :ficha_id %>
  </div>
  <div class="field">
    <%= f.text_field :ubicacion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
