<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @material.cantidad %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= @material.ficha %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @material.ubicacion %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
