<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @material.cantidad %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= link_to @material.ficha.nombre, @material.ficha.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= link_to @material.ubicacion.to_s, @material.ubicacion %>
</p>

<%= link_to 'Editar', edit_material_path(@material) %> |
<%= link_to 'Volver', materials_path %>
