<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Almacen Saema" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render 'layouts/header' %>
  <div class="spacefooter">
  </div>
  <div class="container contents">
    <% if notice %>
    <div id="notice"  class="alert alert-warning" role="alert">
      <%= notice %>
    </div>
    <% end %>
    <%= yield %>
  </div>
  <%= debug(params) if Rails.env.development? %>
  <div class="spacefooter">
  </div>
  
 

  <%= render 'layouts/footer' %>

  
</body>
</html>
